.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #fafafa;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
}

.modal-close-action {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
}