.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: var(--size-xl);
  padding: var(--size-m) 0;
  background-color: var(--foundation);
  z-index: 1000;
}

.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-l);
  height: var(--size-l);
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}